.gallery-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .gallery-item img {
    width: 200px;
    height: 200px;
  }
  
  .gallery-item div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .gallery-item button {
    width: 60px;
    height: 30px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  